**/cache/**
!**/cache/_dummy

**/index/**
!**/index/_dummy

**/locks/**
!**/locks/_dummy

**/tmp/**
!**/tmp/_dummy

**/data/pages/**
**/data/meta/**
**/data/media/**
**/data/media_meta/**
**/data/attic/**
**/data/media_attic/**
**/conf/users.auth.php

dokuwiki/.gitignore
farm/.gitignore
