Options +FollowSymLinks -Indexes -MultiViews

RewriteEngine On

RewriteRule ^$ /welcome [QSA]
RewriteRule ^dokuwiki /welcome [QSA]
RewriteCond ${REQUEST_URI} !^/?dokuwiki(.*)
RewriteRule ^/?(.*)$ /farm/$1 [QSA,L]
