Options +FollowSymLinks -Indexes -MultiViews

RewriteEngine On

RewriteRule ^$ /welcome/start [QSA]
RewriteRule ^dokuwiki /welcome/start [QSA,L]
RewriteCond ${REQUEST_URI} !^/?dokuwiki(.*)
RewriteRule ^/?(.*)$ /farm/$1 [QSA]
